name: Data Pipeline

on:
  push:
    branches: 
      - main

  schedule:
    - cron: '0 * * * *' # Run every hour at the top of the hour

  workflow_dispatch:

jobs:
  get_bike_data:
    runs-on: ubuntu-latest

    outputs:
      sha_new: ${{steps.sha_new.outputs.SHA_NEW}}
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: poetry

      - name: Install dependencies
        run: |
          poetry install --no-root --no-dev

      - name: Install DVC
        run: |
          pip install dvc==2.51.0

      - name: Setup Dagshub
        run: |
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USERNAME_1 }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_PASSWORD_1 }}

      - name: Setup git config
        run: |
          git config user.name "anagasperin"
          git config user.email "anagasperin99@gmail.com"

      - name: Pull changes
        run: |
          git pull
          dvc pull

      - name: Run script
        run: poetry run python ./src/data/fetch_bike_data.py

      - name: Add data
        run: |
          dvc add data

      - name: Commit changes
        run: |
          git add data.dvc
          git commit -m 'Github Actions Bot Commit data'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

      - name: Push to dvc
        run: |
          dvc push -r origin

  merge_bike_data:
    needs: get_bike_data

    runs-on: ubuntu-latest

    outputs:
      sha_new: ${{steps.sha_new.outputs.SHA_NEW}}
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: poetry

      - name: Install dependencies
        run: |
          poetry install --no-root --no-dev

      - name: Install DVC
        run: |
          pip install dvc==2.51.0

      - name: Setup Dagshub
        run: |
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USERNAME }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_PASSWORD }}

      - name: Setup git config
        run: |
          git config user.name "anagasperin"
          git config user.email "anagasperin99@gmail.com"

      - name: Pull changes
        run: |
          git pull
          dvc pull

      - name: Run script
        run: poetry run python ./src/data/merge_bike_data.py

      - name: Add data
        run: |
          dvc add data

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Commit changed data

      - name: Push to dvc
        run: |
          dvc push -r origin

  get_weather_data:
    runs-on: ubuntu-latest

    outputs:
      sha_new: ${{steps.sha_new.outputs.SHA_NEW}}
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: poetry

      - name: Install dependencies
        run: |
          poetry install --no-root --no-dev

      - name: Install DVC
        run: |
          pip install dvc==2.51.0

      - name: Setup Dagshub
        run: |
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USERNAME_1 }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_PASSWORD_1 }}

      - name: Setup git config
        run: |
          git config user.name "anagasperin"
          git config user.email "anagasperin99@gmail.com"

      - name: Pull changes
        run: |
          git pull
          dvc pull

      - name: Run script
        run: poetry run python ./src/data/fetch_weather_data.py

      - name: Add data
        run: |
          dvc add data

      - name: Commit changes
        run: |
          git add data.dvc
          git commit -m 'Github Actions Bot Commit data'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

      - name: Push to dvc
        run: |
          dvc push -r origin

  process_data:
    needs:
      - merge_bike_data
      - get_weather_data

    runs-on: ubuntu-latest

    outputs:
      sha_new: ${{steps.sha_new.outputs.SHA_NEW}}
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: poetry

      - name: Install dependencies
        run: |
          poetry install --no-root --no-dev

      - name: Install DVC
        run: |
          pip install dvc==2.51.0

      - name: Setup Dagshub
        run: |
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USERNAME_1 }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_PASSWORD_1 }}

      - name: Setup git config
        run: |
          git config user.name "anagasperin"
          git config user.email "anagasperin99@gmail.com"

      - name: Pull changes
        run: |
          git pull
          dvc pull

      - name: Run scripts
        run: |
            poetry run python ./src/data/process_bike_data.py
            poetry run python ./src/data/process_weather_data.py

      - name: Add data
        run: |
          dvc add data

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Commit changed data

      - name: Push to dvc
        run: |
          dvc push -r origin

  merge_processed_data:
    needs: process_data

    runs-on: ubuntu-latest

    outputs:
      sha_new: ${{steps.sha_new.outputs.SHA_NEW}}
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: poetry

      - name: Install dependencies
        run: |
          poetry install --no-root --no-dev

      - name: Install DVC
        run: |
          pip install dvc==2.51.0

      - name: Setup Dagshub
        run: |
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USERNAME_1 }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_PASSWORD_1 }}

      - name: Setup git config
        run: |
          git config user.name "anagasperin"
          git config user.email "anagasperin99@gmail.com"

      - name: Pull changes
        run: |
          git pull
          dvc pull

      - name: Run scripts
        run: poetry run python ./src/data/merge_processed_data.py

      - name: Add data
        run: |
          dvc add data

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Commit changed data

      - name: Push to dvc
        run: |
          dvc push -r origin